<!-- @bookmarks from topics/_topic.html.erb -->

<li>
  <table class="table table-hover table-bordered table-condensed span3">
    <tr>
      <td><a href="<%= bookmark.url %>"><%= bookmark.url %></a></td>
    </tr>
    <!--<tr><small><%#= bookmark.created_at %></small></tr>-->
    <tr>
      <td><%= bookmark.created_at %></td>
    </tr>
    <tr>
      <td>
        <small>This is the bookmark.id  <%= bookmark.id %></small>
      </td>
    </tr>
    <tr>
      <td>
        <small>Created by <%= bookmark.user_id %></small>
      </td>
    </tr>
    <tr>
      <td>
        <%# if policy(@like).destroy? %>
        <%= link_to "Unlike", bookmark_like_path(bookmark_id: bookmark.id), method: :delete %>
        <%#= link_to "Unlike", bookmark_like_path, method: :delete %>
        <%# end %>
      </td>
    </tr>
  </table>
</li>

