<!-- @bookmarks from topics/_topic.html.erb -->

<li>

  <table class="table table-hover table-bordered table-condensed span3 <%= bookmark.liked? %>">
    <tr>
      <td><a href="<%= bookmark.url %>"><%= bookmark.url %></a></td>
    </tr>
    <!--<tr><small><%#= bookmark.created_at %></small></tr>-->
    <tr>
      <td><%= bookmark.created_at %></td>
    </tr>
    <tr>
      <td>
        <small>This is the bookmark.id  <%= bookmark.id %></small>
      </td>
    </tr>
    <tr>
      <td>
        <small>Created by <%= bookmark.user_id %></small>
      </td>
    </tr>
    <tr>
      <td>

        <% if policy(bookmark).destroy? %>
            <%= link_to "Delete", bookmark_path(bookmark), method: :delete %>
        <% end %>

        <% if params[:controller] == "users" %>
            <%= link_to "Unlike", bookmark_like_path(bookmark_id: bookmark.id), method: :delete %>
        <% end %>

        <% if params[:controller] == "topics" %>  <!--meaning you are looking at bookmarks-->
            <%#= link_to [post, Favorite.new], class: 'btn btn-primary', method: :post do %>
            <%= link_to "Like", bookmark_likes_path(bookmark_id: bookmark.id), method: :post %>
        <% end %>

      </td>
    </tr>
  </table>
</li>

