 <!--getting @bookmark and @user from app/mailers/user_mailer.rb-->

<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bookmark Added, <%= @user.name %></h1>
<p>
  You have successfully added the link:
  Topic:        <%= @bookmark.topic.name %><br>
  URL:          <%= @bookmark.url %><br>
  Title:        <%= @bookmark.title %><br>
  Description:  <%= @bookmark.description %><br>
  Embed:        <%= @bookmark.embed %>
</p>
</body>
</html>