<h1>All Topics</h1>

<!--TODO make a show all topics button-->
<!--TODO url verification in bookmark model-->
    <% @topics.each do |topic| %>
    <!--<a href="<%#= topic_path(topic) %>" class="list-group-item"><%#= topic.name %><span class="badge"><%#= topic.bookmarks.count %></span></a>-->
        <div class="topic-block" id="topic-<%= topic.id %>">
          <%= link_to topic do %>
              <div class="topic-name">
                <%= topic.name.titleize if topic.name %>
                <span class="badge pull-right"><%= topic.bookmarks.count %></span>
              </div>
          <% end %>

        </div>
        <div>
          <% if policy(topic).edit? %>
              <%= link_to 'Edit', edit_topic_path(topic) %>
          <% end %>

          <% if policy(topic).destroy? %>
              <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>


        </div>


        <ul class="list-inline">
          <%= render topic.bookmarks %>
        </ul>


    <% end %>


