<p id="notice"><%= notice %></p>

<div class="topic-block">
  <%= link_to @topic do %>
      <h2><%= @topic.name.titleize %></h2>
      <span class="badge pull-right"><%= @topic.bookmarks.count %></span>
      <!--TODO - update badge counters with ajax-->
  <% end %>
</div>

<ul class="list-inline">
  <%= render @topic.bookmarks %>
</ul>
<%= link_to 'Back', topics_path %>